<!DOCTYPE html>
 <html lang="en">
	{% load static %}
  <head>
   <title> Admin login page </title>
   <link rel="stylesheet"  href="{% static 'css/login.css' %}"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
	 <body>
		<div class="login-form">	
          <h1> Admin Login Form </h1>		
	       <form action="log" method="post">
			{% csrf_token %}
		     <p> User Name</p>
			 <input type="text" name="uname" placeholder="User name">
			 <p> Password </p>
			 <input type="text" name="psw" placeholder="Password">
			 <button type="submit">Login</button><br>
			 <a href="reg">Don't have an account?</a>
			 <p><a href="{% url 'password_reset' %}">Forgot Your Password?</a></p>
		   </form>
		</div>
     </body>
  </html>